*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header{
    text-align: center;
    padding: 30px 10px;
}

h1{
    font-size: 32px;
    font-weight: 800;
}

h2{
    font-size: 22px;
    margin-top: 10px;
}

/* NAVBAR */
nav{
    background: #222;
    padding: 12px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 8px 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/* SECTIONS */
section{
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

section h3{
    font-size: 28px;
    margin-bottom: 20px;
}

section p{
    font-size: 18px;
    line-height: 1.5;
}

/* SKILLS LIST */
.skills-list{
    text-align: left;
    max-width: 500px;
    margin: auto;
}

.skills-list li{
    font-size: 20px;
    margin: 8px 0;
}
