/* Navbar base */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* Hamburger icon */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: block;
}

/* Menu list */
.menu {
    list-style: none;
    position: absolute;
    right: 20px;
    top: 55px;
    background: #000;
    padding: 10px 20px;
    display: none;
    border-radius: 5px;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Show menu when hamburger clicked */
#menu-toggle:checked + .menu-icon + .menu {
    display: block;
}
